{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <!-- <h1>Log-in</h1> -->
    {% if form.errors %}
    <p>
        Please,check your Email and Password
    </p> 
    {% else %}
    <!-- <p>
        Please,use the following form to login. if you dont have an Account
        <a href="{% url 'register' %}">register here</a>
    </p> -->
    {% endif %}
    <!-- <div class="split left">
        <div class="left">
            <h6>Super Investment app</h6>
            <p>Get super analyzed ROI reports</h1>
        </div>
    </div>    
    <div class="split right">
        <div class="right">
            
            <form action="{% url 'login' %}" method="post">
                <h1>Sign In to Real Returns.ai</h1>
                {% csrf_token %}
                {{form.as_p}}  
                <input type="hidden" name="next" value="{{ next }}"/>
                <p>
                    <h6><a href="{% url 'password_reset' %}">
                    Forgot Password?
                    </a></h6>
                </p>
                <br>
                <p>
                    <input type="submit" value="Sign In">
                </p>
                <p>
                    <button><a href="{% url 'register' %}">Register Now</a></button>
                </p>
            </form>
        </div>
    </div> 
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}  
            <input type="hidden" name="next" value="{{ next }}"/>
            <p>
                <h6><a href="{% url 'password_reset' %}">
                Forgot Password?
                </a></h6>
            </p>
            <br>
            <p>
                <input type="submit" value="Sign In">
            </p>
            <p>
                <button><a href="{% url 'register' %}">Register Now</a></button>
            </p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Forgotten your Password?
            </a>
        </p>
    </div> -->
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 mt-5">
                <h6 class="text-light">Super Investment app</h6>
                <h1 class="text-light">Get super analyzed ROI reports</h1>
                <br><br>
                <!-- <img src="../../static/css/OBJECTS.jpg" style="width:50%;"> -->
                <img src="../../static/css/OBJECTS.png" style="width:50%;">

            </div>
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div class="card-body" style="background-color: #1A1A1A;">
                        <form action="{% url 'login' %}" method="post">
                            <h1>Sign In</h1> 
                            <h1>to Real Returns.ai</h1>
                            {% csrf_token %}
                            <!-- {{form.as_p}}   -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text"> <i class="fa fa-envelope"></i> </span> -->
                                </div> 
                                <input name="username" class="form-control" placeholder="Enter Your username" type="username">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text"> <i class="fa fa-lock"></i> </span> -->
                                </div>
                                <input class="form-control" name="password" placeholder="Password" type="password">
                            </div>
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div class="text-left">
                                <h6><a href="{% url 'password_reset' %}">
                                Forgot Password?
                                </a></h6>
                            </div>
                            <br>
                            <p>
                                <input type="submit" value="Sign In">
                            </p>
                            <p>
                                <button><a href="{% url 'register' %}">Register Now</a></button>
                            </p>
                        </form>
                    </div>
                  </div>
                
            </div>
            <!-- <div class="">
               
            </div>
            <div class="col">
                
            </div>
            <div class="col">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}  
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <p>
                        <h6><a href="{% url 'password_reset' %}">
                        Forgot Password?
                        </a></h6>
                    </p>
                    <br>
                    <p>
                        <input type="submit" value="Sign In">
                    </p>
                    <p>
                        <button><a href="{% url 'register' %}">Register Now</a></button>
                    </p>
                </form>
            </div> -->
        </div>
    </div>
    <!-- <style>
        body{
            font-family: Arial;
            color:white;
        }
        .split{
            height: 100%;
            width: 50;
            position: fixed;
            z-index: 1;
            top:0;
            overflow-x: hidden;
            padding-top: 20px;

        }
        .left{
            left:0;
            background-color:black;
        }
        .right{
            right:0;
            background-color:black;
        }
        .centered{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            text-align:center;
        }
        .centered form{
            width: 150px;
            border-radius:50%;
        }
    </style> -->
    <style>
       h1{
        height: 153px;
        width: 301px;
        left: 112px;
        top: 163px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 42px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;
       } 
       h6{
        height: 17px;
        width: 146px;
        left: 112px;
        top: 128px;
        border-radius: nullpx;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
       }
       label {
       color: white;
       }
       .card{
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            /* border: 1px solid rgba(0,0,0,.125); */
            /* border-radius: 0.25rem; */
       }
       h1{
        height: 102px;
        width: 372px;
        left: 700px;
        top: 117px;
        border-radius: nullpx;
        color: #FFFFFF;
       }
       button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .col-lg-6 mt-5{
        height: 706px;
        width: 520px;
        left: 640px;
        top: 71px;
        border-radius: 25px;
    }

    </style>
{% endblock %} 